.form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.rating {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 25px;
    margin-left: 40px;
}


.sub {
    margin-right: 15px;
    border-radius: 10px;
    color: rgb(178, 35, 35)
}

.canc{
    border-radius: 10px;
}

.rev-box{
    margin-bottom: 25px;
    height: 60px;
}

.rev-stars{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sub:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
