
.ns-form {
    margin-bottom: 20px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .city-form-input{
    margin-right: 10px;
  }


  .form-input,
  .des-form-input,
  .city-form-input,
  .state-form-input {
    height: 50px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .des-form-input {
    resize: vertical;
    border-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    height: 250px;
}


  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .submit{
    height: 50px;
    width: 100px;
    margin-right: 20px;
  }

  .cancel {
    height: 50px;
    width: 100px;
  }


  .errors {
    color: red;
  }

  .review-title{
    color: black;
  }

  .form-tag{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .city-state{
    display: flex;
    width: 100%;
  }

  .loc-titles{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .state-title {
    display: flex;
    justify-content: flex-end;
    width: 52%;
  }
  .titles-container{
    display: flex;
    width: 100%;
  }

  .create-title{
    display: flex;
    justify-content: center;
  }

  .photo-form{
    width: 100%;
  }
