button {
    width: auto;
}

.details{
  padding-left: 75px;
  padding-right: 75px;
}

.loading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.main-img {
  display: flex;
    height: 705px;
    width: 850px;
    margin-right: 5px
}

.secondary-img{
  height: 350px;
  width: 370px;
  flex-basis: calc(33%);
  margin-bottom: 5px;
  margin-right: 5px;
}

.img-container {
  display: flex;
  max-height: 710px;
}

.small-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: calc(50% - auto);
}

.reviews{
    margin-top: 20px;
    border-top: 1px solid rgba(168, 167, 167, 0.5);
}

.spot-data{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.chair-details{
  display: flex;
  justify-content: space-between;
}

.rating-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.dot{
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.boxy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.jerry{
  display: flex;
  justify-content: center;
  align-items: center;
}

.price{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.star-cont{
  border: 2px black solid;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  margin-right: 135px;
  margin-top: 40px;
}

.reserve {
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(178, 35, 35);
}


.rev-info{
  display: flex;
  align-items: center;
}

.post-rev{
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(248, 247, 247);
  margin-bottom: 30px;
}


.userReview-review{
  margin-bottom: 10px;
}

.ed-spot{
  width: 150px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(178, 35, 35);
}

.del-spot{
  width: 150px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(178, 35, 35);
}

.location{
  margin-bottom: 30px;
}

.host {
  font-size: 36px;
}

.des{
  font-size: 20px;
}
