.page-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .t-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: calc(40% - 20px);
    cursor: pointer;
    max-height: 500px;
    max-width: 400px;
    transition: transform 0.2s ease-in-out;
  }

  .i-container {
    flex: 1;
  }

  .s-img {
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
  }

  .t-container:hover {
    transform: scale(1.02);
  }

  .s-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    max-width: 300px;
  }

  .l-info {
    display: flex;
    flex-direction: column;
  }

  .r-info {
    display: flex;
  }

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }

.us-ed-spot{
  height: 30px;
}

.us-del-spot{
  height: 30px;
  background-color: rgb(178, 35, 35);
}

.us-del-spot:hover {
  background-color: rgb(102, 22, 22);
}
