
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  form label {
    text-align: center;
    margin-bottom: 5px;
  }

  .log-in, label, .demo{
    color: white;
  }

  .demo{
    cursor: pointer;
    margin-bottom: 20px;
  }

  .log-button {
    margin-right: 20px;
  }

  .error{
    color: red;
  }
