i{
    height: 20px;
    width: 20px;
}

button {
    height: 50px;
    width: 50px;
}

.profile{
    margin-top: 100px;
}

.user-drop{
    background-color: rgb(178, 35, 35);
    border-radius: 50px;
    height: 50px;
    width: 50px;
    transition: transform 0.2s ease-in-out;
}

.user-drop:hover{
    transform: scale(1.03);
}
